.fs-0{
    font-size: 13px;
}
.recording{
    border-radius: 4px;
}
.about__lesson{
    padding-top: 20px;
    margin-bottom: -8px;

}
.button__box{
    height: 8%;
    padding-bottom: 8px;
}
.lesson__box{
    height: 92%;
}
.lesson__card{
    height: inherit;
    overflow-x: hidden;
}
.recordings{
    height: 560px;
}
/* React player  preview */
.recording__video div .react-player__preview{
    padding-left:0px;
    margin-left:0px;
    transform:translatex(0px) translatey(0px);
   }
   
   /* React player  preview */
   #root .App div .bg-black .container .row .my-4 .recording .recording__video div .react-player__preview{
    width:99% !important;
   }
   
   @media (max-width:767px){
   
    /* React player  preview */
    #root .App div .bg-black .container .row .my-4 .recording .recording__video div .react-player__preview{
     width:509px !important;
    }
    
   }
   
   .video{
    width: inherit;
   }