.fs-0{
    font-size: 13px;
}
.recording{
    border-radius: 4px;
}
.about__lesson{
    padding-top: 20px;
    margin-bottom: -8px;

}
.button__box{
    height: 8%;
    padding-bottom: 8px;
}
.lesson__box{
    height: 92%;
}
.lesson__card{
    height: inherit;
    overflow-x: hidden;
}
